.spinner-item{
    width: min-content;
    margin: auto;
}
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}
div.scrollmenu div {
    display: inline-block;
    margin: 0 10px 10px 0;
}
.container-flex{
    display: flex;
    justify-content: center;
}